# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/*
!dist/saniline.min.js
eggs/

*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDE and editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables & secrets
.env
.env.*
*.pem
*.key
